<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670343671405-bqnfnhb798h3em0jvp8kvvkk7j5jc2te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670343671405-bqnfnhb798h3em0jvp8kvvkk7j5jc2te</string>
	<key>API_KEY</key>
	<string>AIzaSyBkDy0RRb1DF0mYj__0sjZrQqgUDs2OXoM</string>
	<key>GCM_SENDER_ID</key>
	<string>670343671405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-demo-aaa7b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-demo-aaa7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670343671405:ios:26b88d2907c6539f32d964</string>
</dict>
</plist>